<header>
    <div class="container">
      <div class="header_des">
        <div class="info">
          <span>Lorem ipsum dolor sit amet elit</span>
          <h2>I'm Designer Haris F. Watson</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut
            quidem praesentium labore illo minus reprehenderit molestiae odio,
          </p>
          <button type="button" class="btn btnOne">Get free access</button>

          <button type="button" class="btn btnTow">Hire me</button>
        </div>
      </div>
    </div>
  </header>
