<p>alleyptenews works!</p>

<div class="row">
    <div *ngFor=" let item of alleyptenews ; let i = index " class="col-md-6 col-sm-12 col-lg-4">


        <div class="card">
            <img class="card-img-top" [src]="item.urlToImage !== null ? item.urlToImage : '../../assets/unknown.png' "
                alt={{item.title}} >
            <div class="card-body">
                <h4 class="card-title">{{item.title}}</h4>
                <p class="card-text">{{item.description | slice:0:50}}...</p>
                <a [routerLink]="['/details',i]" class="btn btn-primary">{{'See more' | uppercase}}</a>
            </div>

        </div>
    </div>
</div>