.logo {
  width: 316px;
  height: 36px;
  margin: 0 22px;
}

.btnOne {
  background-color: #f2674d;
  padding: 12px 29px;
  color: #fff;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  font-size: 25px;}

.navbar {
  padding: 6px 0px;
  box-shadow: 11px 6px 18px rgb(108 107 107);
  background-color: white;
}

.navbar li {
  font-size: 21px;
  /* font-weight: 300; */
  padding: 0 0 0 0;
  margin: 0 7px 0 0;
  font-weight: 600;
}
.navbar li a {
  padding: 9px;
  color: black;
}

.navbar li a:hover {
  color: #8a2b8a !important;
}

.row {
  margin: 0;
} 