<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" alt="" class="logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="home">Home</a>
      </li>


      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="Saudi">SaudiNews</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="Egypt">EgyptNews</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="China">ChinaNews</a>
      </li>
  

      <li class="nav-item active">
        <a class="nav-link" routerLink="Contactus">content</a>
      </li>
    </ul>
    <button type="button" class="d-none d-xl-block btn ml-5 btnOne">
      Get free access
    </button>
  </div>
</nav>

<router-outlet></router-outlet>