p {
  margin-top: 100px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.card-body {
  background: #d5b9d5;
}
.card {
    border: 5px solid;
    margin: 37px 0px 0 0;
    border-radius: 10px;
}
