form {
  margin: 83px 59px 58px 89px;
  border: 4px solid;
  padding: 30px 45px;
  border-radius: 21px;
  font-size: 30px;
  font-weight: bolder;
  font-family: inherit;
}

body {
  background: black;
}
